<%= render 'layouts/navbar' %>

<div id='predss-theme'>
  <div class='row margin-top'>
  <div class='panel small-12 columns text-center'>
    <h1>
      PREDSS Data Goodin v1: Results
    </h1>
  </div>
</div>

<div class="row">
  <div class="col col-lg-2"></div>
      <div class="col col-lg-8"></div>

  <% if !@msg.nil? %>
      <div class="alert-box warning"><%=@msg%></div>
  <%
    else
  %>


      <button id="exportcsv">Export CSV</button>
      <script>
          $("#exportcsv").click(function() {
              $("#edss").table2csv({
                  filename: 'PREDSS_Goodin.csv'
              });
          })

          /*    $(document).ready(function() {
                  $('#edss').DataTable({
                          "pageLength": 50
                      }
                  );
              } );*/

      </script>

      <h4>Project: <%= @project.upcase %></h4>
      <table id="edss" class="striped">
        <thead>
        <tr>
          <% @headers.each do |h| %>
          <th><%=h%></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
      <%
        @all_results.each do |r|
      %>
      <tr>
        <td><%= r[:record_id] %></td>
        <td><%= r[:first_name] %></td>
        <td><%= r[:last_name] %></td>
        <td><%= r[:sfs] %></td>
        <td><%= r[:edss] %></td>
        <td><%= r[:aI] %></td>
        <td><%= r[:nrs] %></td>
        <td><%= r[:mds] %></td>
      </tr>
      <%
        end
      %>
        </tbody>
      </table>
<% end %>
    </div>
  <div class="col col-lg-2"></div>
</div>

<%= render 'layouts/footer' %>