<%= render 'layouts/navbar' %>

<div id='msdr-theme'>
	<div class'row margin-top'>
		<div class='panel small-12 columns text-center'>
			<h1>
				Bove Remote EDSS Data v3 Form
			</h1>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns panel callout '>
			<strong>By filling in a valid API key and clicking "Download Data" you authorize that you have the proper access to the indicated RedCap Project. You will be downloading PHI; please be careful with this information.</strong>
		</div>
	</div>

	<div class='row'>
    <div class='small-12 columns'>
      Use the Bove v3 that includes adjustment for sensory/brainstem (same as Bove2) and introduces questions
      and modifications to bowel and bladder, cerebral, and adds a depression subscore.
      <%= form_tag '/edss/bove3' do %>
          <%=text_field_tag 'bove3APIkey', nil, placeholder: 'Enter project API key'%>
          <div><%= submit_tag 'View Results', class: "button right radius", id: "bove3EDSS" %></div>
      <% end %>
    </div>
	</div>
</div>
<%= render 'layouts/footer' %>