<%= render 'layouts/navbar' %>

<div id='msdr-theme'>
	<div class'row margin-top'>
		<div class='panel small-12 columns text-center'>
			<h1>
				PREDSS Data Bove v3: Results
			</h1>
		</div>
	</div>
<hr>
<i>REDCap variables are listed in the same order as the questionnaire.</i>
<br>
<i>Mouse over the REDCap column headers to see full question and response options.</i>
<script>
  $("#edss th[title]").tooltip();
</script>

<table id="edss">
  <thead>
  <tr>
  <th>REDCap record_id</th>
  <th>ucsf_bovegoodin_update_questionnaire_complete</th>
  <th>EDSS</th>
  <th>A.I.</th>
  <th>F1 <br>Pyramidal</th>
  <th>F2 <br>Cerebellar</th>
  <th>F3 <br>Brainstem</th>
  <th>F4 <br>Sensory</th>
  <th>F5 <br>Bowel/Bladder</th>
  <th>F6 <br>Vision</th>
  <th>F7 <br>Cerebral</th>
  <th>F8 <br>Spasm+Ambulation</th>
  <th>REDCap inputs<br>--></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="1. Which of the following best describes your ability to walk (circle one)<br>    1.  I can walk without any problem. <br>    2.  I have some difficulties with walking but I can walk without aid for 500 meters or more. (i.e.,  approximately the length of 5 football fields or one third of a mile). <br>    3.  I have some difficulties with walking but I can walk without aid for about 300 meters (i.e.,  approximately the length of 3 football fields or one fifth of a mile). <br>    4.  I have some difficulties with walking but I can walk without aid for about 200 meters (i.e.,  approximately the length of 2 football fields or one tenth of a mile). <br>    5.  I have some difficulties with walking but I can walk without aid for about 100 meters (i.e.,  approximately the length of 1 football fields or 300 feet). <br>    6.  I require an aid (e.g. cane, crutch, walker or another person) to walk 100 meters (300 feet). <br>    7.  I require an aid (e.g. cane, crutch, walker or another person) to walk 20 meters (60 feet). <br>    8.  I require an aid (e.g. cane, crutch, walker or another person) to walk 8 meters (25 feet). <br>    9.  I use a wheelchair for almost all activities. <br>    10.  I am confined to bed most of the time.<br>">a1<br> walk_overall</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="2. When you move about, what percentage of the time do you:<br>walk without aid?">a21<br> walk_pct_unaided</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="2. When you move about, what percentage of the time do you:<br>use a cane, a single crutch, or hold onto another person?">a22<br> walk_pct_unilateral</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="2. When you move about, what percentage of the time do you:<br>use a walker or other bilateral support?">a23<br> walk_pct_bilateral</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="2. When you move about, what percentage of the time do you:<br>use a wheel chair? ">a24<br> walk_pct_wheelchair</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="3. Which of the following best describes your functional abilities?<br>   1.  I am able to carry out my usual daily activities without limitation. <br>   2.  I have limitations but can carry out most of my usual daily activities, even if I may require some special provisions such as altered work hours or naps. <br>   3.  I am able to carry out about only half of my usual daily activities even with special provisions. <br>   4.  I am severely limited in my ability to carry out my usual daily activities. <br>   5.  I require assistance with even my basic self care activities such as dressing, bathing, transferring and going to the bathroom.">fs<br> functional_overall</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="4. In my right arm, my strength is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f1a<br> strength_right_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="4. In my left arm, my strength is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f1b<br> strength_left_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="4. In my right leg, my strength is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f1c<br> strength_right_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="4. In my left leg, my strength is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f1d<br> strength_left_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="4b. When you are laughing or furrowing your eyebrows, does the left side of your face move normally and does your left eye close completely?<br>0, 1. Yes. <br> 1, 2. No, my left face is slightly weak when laughing or furrowing eyebrows. <br> 2, 3. No, my left face is definitely asymmetric face at rest and the closure of my left eye is impaired. <br> 3, 4. No, lid closure of my left eye is impossible">f1fl<br> strength_face_left</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="4a. When you are laughing or furrowing your eyebrows, does the right side of your face move normally and does your right eye close completely?<br>0, 1. Yes. <br> 1, 2. No, my right face is slightly weak when laughing or furrowing eyebrows. <br> 2, 3. No, my right face is definitely asymmetric face at rest and the closure of my right eye is impaired. <br> 3, 4. No, lid closure of my right eye is impossible">f1fr<br> strength_face_right</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="5. In my right arm, my sensation is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f4a<br> sense_right_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="5. In my left arm, my sensation is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f4b<br> sense_left_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="5. In my right leg, my sensation is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f4c<br> sense_right_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="5. In my left leg, my sensation is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f4d<br> sense_left_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="5b. When touching the left side of your face, has your sensation changed recently?<br>0, 1. No, I have normal sensation in my left face <br> 1, 2. Yes, I have slight or mild numbness when touching some parts of my left face <br> 2, 3. Yes, I have moderately or markedly decreased sensation in parts of my left face, or pain attacks in the right face <br> 3, 4. Yes, I can't feel touch at all, in the entire left face">f4fl<br> sense_face_left</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="5a. When touching the right side of your face, has your sensation changed recently?<br>0, 1. No, I have normal sensation in my right face <br> 1, 2. Yes, I have slight or mild numbness when touching some parts of my right face <br> 2, 3. Yes, I have moderately or markedly decreased sensation in parts of my right face, or pain attacks in the right face <br> 3, 4. Yes, I can't feel touch at all, in the entire right face">f4fr<br> sense_face_right</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="6. My corrected vision for my right eye is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f6a<br> visual_right</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="6. My corrected vision for my left eye is: <br>0, 1. Normal <br> 1, 2. Mildly impaired <br> 2, 3. Moderately impaired <br> 3, 4. Severely impaired">f6b<br> visual_left</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="7. Do you have double vision when looking at something?<br>0, 1. No, I don't see double <br> 1, 2. Yes, I have double vision when looking in some directions but it does not affect my quality of life <br> 2, 3. Yes, I almost always have double vision, one eye needs to be covered, it does affect my quality of life, <br> 3, 4. Yes, I have complete loss of movement in one or more directions of gaze, in one or both of my eyes">b1<br> visual_double</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="8. In my right arm, my coordination is: <br>0, 1. Normal <br> 1, 2. uncoordinated <br> 2, 3. Moderately uncoordinated <br> 3, 4. Severely uncoordinated">f2a<br> coord_right_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="8. In my left arm, my coordination is: <br>0, 1. Normal <br> 1, 2. uncoordinated <br> 2, 3. Moderately uncoordinated <br> 3, 4. Severely uncoordinated">f2b<br> coord_left_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="8. In my right leg, my coordination is: <br>0, 1. Normal <br> 1, 2. uncoordinated <br> 2, 3. Moderately uncoordinated <br> 3, 4. Severely uncoordinated">f2c<br> coord_right_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="8. In my left leg, my coordination is: <br>0, 1. Normal <br> 1, 2. uncoordinated <br> 2, 3. Moderately uncoordinated <br> 3, 4. Severely uncoordinated">f2d<br> coord_left_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="9. Can you speak clearly?<br>0, 1. Yes <br> 1, 2. No, I have some difficulties in speaking (dysarthria), noticed by others when I am talking <br> 2, 3. No, my difficulty speaking (dysarthria) is such that it impairs my conversation <br> 3, 4. No, my speech is incomprehensible or absent">f2s<br> speaking</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="10. Which of the following best describes your balance?        <br>0, 1. I have no difficulty with my balance <br> 1, 2. I have mild difficulty with my balance <br> 2, 3. I have moderate difficulty with my balance <br> 3, 4. I have severe difficulty with my balance">bal<br> balance</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="11. In my right arm, my spasticity is: <br>0, 1. None <br> 1, 2. Mild <br> 2, 3. Moderate <br> 3, 4. Severe">f8a<br> spasm_right_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="11. In my left arm, my spasticity is: <br>0, 1. None <br> 1, 2. Mild <br> 2, 3. Moderate <br> 3, 4. Severe">f8b<br> spasm_left_arm</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="11. In my right leg, my spasticity is: <br>0, 1. None <br> 1, 2. Mild <br> 2, 3. Moderate <br> 3, 4. Severe">f8c<br> spasm_right_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="11. In my left leg, my spasticity is: <br>0, 1. None <br> 1, 2. Mild <br> 2, 3. Moderate <br> 3, 4. Severe">f8d<br> spasm_left_leg</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="12. Which of the following best describes your cognitive (thinking) ability?  <br>1, 1. I have had no change in my cognitive (thinking) abilities. <br> 2, 2. I have had a mild impairment of my cognitive (thinking) abilities. <br> 3, 3. I have had a moderate impairment of my cognitive (thinking) abilities. <br> 4, 4. I have had a severe impairment of my cognitive (thinking) abilities <br> 5, 5. I am unable to handle my affairs because of my severe cognitive problems.">f7t<br> cog_overall</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="13. Which of the following best describes your mood since getting MS? <br>1, 1. My mood has been unchanged since getting MS. <br> 2, 2. I have become depressed or more depressed since getting MS. <br> 3, 3. Although I am not pleased to have MS, I have become a more cheerful person since getting it.">c1<br> mood</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="14. Do you have difficulties with your swallowing?<br>0, 1. No <br> 1, 2. Yes, I have mild difficulty with swallowing thin liquids and/or solid foods <br> 2, 3. Yes, I have moderate difficulty with swallowing thin liquids and/or solid foods <br> 3, 4. Yes, I require a pureed diet to eat or I can't swallow">b2<br> swallowing</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="15. In regards to my bowel function:  <br>1, 1. I have normal function. <br> 2, 2. I have urgency/ I have constipation <br> 3, 3. I have frequency(i.e., I go unusually often). <br> 4, 4. I have hesitancy (i.e., I have difficult getting started). <br> 5, 5. I am occasionally incontinent. <br> 6, 6. I am frequently incontinent ( weekly or more often bus less than daily). <br> 7, 7. I am frequently incontinent (daily or more often). <br> 8, 8. I require intermittent catheterization. <br> 9, 9. I require an indwelling catheter.">f5ta<br> bowel</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="15. In regards to my bladder function: <br>1, 1. I have normal function. <br> 2, 2. I have urgency/ I have constipation <br> 3, 3. I have frequency(i.e., I go unusually often). <br> 4, 4. I have hesitancy (i.e., I have difficult getting started). <br> 5, 5. I am occasionally incontinent. <br> 6, 6. I am frequently incontinent ( weekly or more often bus less than daily). <br> 7, 7. I am frequently incontinent (daily or more often). <br> 8, 8. I require intermittent catheterization. <br> 9, 9. I require an indwelling catheter.">f5tb<br> bladder</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="16. Do you experience dizziness or vertigo (i.e. a sense or a feeling of motion)? If so, how severe is the vertigo or dizziness (i.e. a sense or a feeling of motion)?  <br>0, 1. I do not experience vertigo or dizziness. <br> 1, 2. Mild dizziness <br> 2, 3. Moderate dizziness <br> 3, 4. Severed dizziness">b3<br> vertigo</span></th>
  <th><span data-tooltip aria-haspopup="true" data-width="800" class="has-tip" title="17. Do you have any problems with your hearing?<br>0, 1. No <br> 1, 2. Yes, my hearing is slightly or mildly decreased on one side <br> 2, 3. Yes, my hearing is moderately or severely decreased on one side <br> 3, 4. Yes, I can't hear in either ear ; I am effectively deaf">b4<br> hearing</span></th>
  </tr>
  </thead>
  <tbody>
<%
  @results.each do |r|
%>
  <tr>
  <td><%= r.record_id %> </td>
  <td><%= r.ucsf_bovegoodin_update_questionnaire_complete %></td>
  <td><%= r.calc_edss %></td>
  <td><%= r.calc_ai %></td>
  <td><%= r.calc_pyramidal %></td>
  <td><%= r.calc_cerebellar %></td>
  <td><%= r.calc_brainstem %></td>
  <td><%= r.calc_sensory %></td>
  <td><%= r.calc_bowelbladder %></td>
  <td><%= r.calc_vision %></td>
  <td><%= r.calc_cerebral %></td>
  <td><%= r.calc_f8 %></td>
  <td><--</td>
  <td><%= r.walk_overall %></td>
  <td><%= r.walk_pct_unaided %></td>
  <td><%= r.walk_pct_unilateral %></td>
  <td><%= r.walk_pct_bilateral %></td>
  <td><%= r.walk_pct_wheelchair %></td>
  <td><%= r.functional_overall %></td>
  <td><%= r.strength_right_arm %></td>
  <td><%= r.strength_left_arm %></td>
  <td><%= r.strength_right_leg %></td>
  <td><%= r.strength_left_leg %></td>
  <td><%= r.strength_face_left %></td>
  <td><%= r.strength_face_right %></td>
  <td><%= r.sense_right_arm %></td>
  <td><%= r.sense_left_arm %></td>
  <td><%= r.sense_right_leg %></td>
  <td><%= r.sense_left_leg %></td>
  <td><%= r.sense_face_left %></td>
  <td><%= r.sense_face_right %></td>
  <td><%= r.visual_right %></td>
  <td><%= r.visual_left %></td>
  <td><%= r.visual_double %></td>
  <td><%= r.coord_right_arm %></td>
  <td><%= r.coord_left_arm %></td>
  <td><%= r.coord_right_leg %></td>
  <td><%= r.coord_left_leg %></td>
  <td><%= r.speaking %></td>
  <td><%= r.balance %></td>
  <td><%= r.spasm_right_arm %></td>
  <td><%= r.spasm_left_arm %></td>
  <td><%= r.spasm_right_leg %></td>
  <td><%= r.spasm_left_leg %></td>
  <td><%= r.cog_overall %></td>
  <td><%= r.mood %></td>
  <td><%= r.swallowing %></td>
  <td><%= r.bowel %></td>
  <td><%= r.bladder %></td>
  <td><%= r.vertigo %></td>
  <td><%= r.hearing %></td>
  </tr>
<%
  end
%>
  </tbody>
</table>

<button id="exportcsv">Export CSV</button>
<script>
 $("#exportcsv").click(function() {
     $("#edss").table2csv({
         filename: 'PREDSS_v3.csv'
     });
 })
</script>


</div>

<%= render 'layouts/footer' %>