<span>
<div class='row bottom-right right'>
	<div class='small-12 columns'>
		<%= image_tag('logo.png', size: "200x200", class: "right-absolute") %>
	</div>
</div>

<div class='row top-right right'>
	<div class='small-12 columns'>
		<%= image_tag('epicLogo.png', size: "300X300", class: "left-absolute") %>
	</div>
</div>
	
</span>
<span>
	<div class='row child-center no-max-width'>
		<div class='medium-12 large-3 columns text-center'>
			<h2><%= link_to("Projects Catalog", projects_path, class: 'styled-link')%></h2>
		</div>
		<div class='medium-12 large-3 columns text-center'>
			<h2><%= link_to("Publications", publications_path, class: 'styled-link')%></h2>
		</div>
		<div class='medium-12 large-3 columns text-center'>
			<h2><%= link_to("Funding", fundings_path, class: 'styled-link')%></h2>
		</div>
		<div class='medium-12 large-3 columns text-center'>
			<h2><%= link_to("Data Dictionary", dictionary_index_path, class: 'styled-link')%></h2>
		</div>		
	</div>				
</span>
<script>
<% if browser.safari? %>
	<% if browser.version.to_i < 8 %>
		<%= add_gritter( "This website is optimized for chrome and FireFox browsers. Please considering switching browsers or updating Safari to version 9.", :title => "Notice", :time => 8000) %>
	<% end %>
<% else %>
<% end %>		
		$(function() {
			var BV = new $.BigVideo({useFlashForFirefox:false});
			BV.init();
			BV.show({ type: "video/mp4",  src: "<%= video_url('EPICloop.mp4') %>"});
		});

</script>