<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>UCSF Project Uploader</h1>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="large-12 columns">
  	<div id="newProject" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  		<%= render 'layouts/new_project' %>
		</div>

    <table class="large-12 columns">
		  <thead>
		    <tr>
		      <th width="200">Author</th>
		      <th width="150">Project Title</th>
		      <th width>Project Description</th>
		      <th width="150">Data Description</th>
		      <th width="150">Data Frequency</th>
		    </tr>
		  </thead>
		  <tbody>
			  <% @projects.all.each do |project| %>
		    	<tr>
			      <td><%= project.author %></td>
			      <td><%= project.title %></td>
			      <td><%= project.project_description %></td>
			      <td><%= project.data_description %></td>
			      <td><%= project.data_frequency %></td>
		    	</tr>
			  <% end %>
		  </tbody>
		</table>
  	<%= link_to "Add New Project", "#", class: 'button right', data: {:"reveal-id" => "newProject"} %>
	</div>		
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>Made with love by the MS Genetics Lab</p>
      </div>
    </div>
  </div>
</footer>