<section>
	<div>
		<div class='row child-center'>
			<div class='medium-12 large-3 columns text-center'>
				<h2><%= link_to("Publications", publications_path, class: 'styled-link')%></h2>
			</div>
			<div class='medium-12 large-3 columns text-center'>
				<h2><%= link_to("Funding", fundings_path, class: 'styled-link')%></h2>
			</div>
			<div class='medium-12 large-3 columns text-center'>
				<h2><%= link_to("Projects Catalog", projects_path, class: 'styled-link')%></h2>
			</div>
			<div class='medium-12 large-3 columns text-center'>
				<h2><%= link_to("Data Dictionary", projects_path, class: 'styled-link')%></h2>
			</div>		
		</div>				
	</div>
</section>
<script>
$(function() {
	var BV = new $.BigVideo();
	BV.init();
	BV.show({ type: "video/mp4",  src: "<%= image_url('EPICloop.mp4') %>"});
});
</script>