<%= render 'layouts/navbar' %>

<div class="row margin-top">
  <div class="large-12 columns">
    <div class="panel radius text-center">
      <span>MS EPIC Data Dictionary</span>
    </div>
  </div>
</div>

<div class="row full-width">
	<table class="tablesorter radius" id="dictionary">
	  <thead>
	    <tr>
	    	<% @epic_d_d.row(0).each do |row| %>
	    		<th class='small'><%= row %></th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @epic_d_d.each 1 do |row| %>
    		<tr>
    			<% row.each do |item| %>
    				<% if item.to_f == item %>
	      			<td><%= item.to_i %></td>
	      		<% else %>
	      			<td><%= item %></td>
	      		<% end %>
	      	<% end %>
    		</tr>  
    	<% end %>    	   	    	    	   	
	  </tbody>
	</table>
</div>		

<%= render 'layouts/footer' %>