<%= render 'layouts/navbar' %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel radius text-center">
      <span>MS EPIC Projects Catalog</span>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="large-12 columns">
  	<div id="newProject" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  		<%= render 'layouts/new_project' %>
		</div>
		<div class= "large-12 columns text-center">
	    <div>	<%= image_tag('SNCdusk.jpg', class: 'picture_round') %> </div>
		</div>
	</div>
</div>
<br>
<div class='row'>
  <table class="tablesorter radius" id="projects">
	  <thead>
	    <tr>
	      <th width="100">Author</th>
	      <th width="100">Project Title</th>
	      <th width>Project Description</th>
	      <th width="150">Data Description</th>
	      <th width="100">Repository Data</th>
	      <th width="100">Data Frequency</th>
	    </tr>
	  </thead>
	  <tbody>
		  <% @projects.all.each do |project| %>
	    	<tr>
		      <td><%= project.author %></td>
		      <td><%= project.title %></td>
		      <td><%= truncate(project.project_description, length: 305) { link_to "Continue", "#", class: "read-more-#{project.id}" } %></td>
		      <!-- I understand it's generally not advisable to have an inline script, though this solves the truncating issues nicely without a vendor library -->
		      <script type="text/javascript">
		      	$('.read-more-<%= project.id %>').on('click', function(e) {
			        $(this).parent().html('<%= escape_javascript project.project_description %>')
			      })
		      </script>
		      <td><%= project.data_description %></td>
		      <td><%= project.biological_description %></td>
		      <td><%= project.data_frequency %></td>
	    	</tr>
		  <% end %>
	  </tbody>
	</table>
	<%= link_to "Add New Project", "#", class: 'button right radius', data: {:"reveal-id" => "newProject"} %>
</div>		

<%= render 'layouts/footer' %>
