<tr class='awaiting-approval'>
	<td><%= @participant.tracms_myo_id %></td>
	<td><%= @participant.name %></td>
	<td><%= @participant.scheduled_date %></td>
	<td>1</td>
	<td><%= @participant.myo_visit %></td>
	<td><%= @participant.redcap_intake_q %></td>
</tr>