<tr class='awaiting-approval'>
	<td><%= @participant.participant_id %></td>
	<td><%= @participant.tracms_myo_id %></td>
	<td><%= @participant.name %></td>
	<td><%= @participant.scheduled_date %></td>
	<td><%= @participant.exam_date %></td>
	<td><%= @participant.myo_visit %></td>
	<td><%= @participant.redcap_intake_q %></td>
	<td><%= @participant.redcap_ms_info %></td>
	<td><%= @participant.redcap_whodas %></td>
	<td><%= @participant.redcap_health_intake %></td>
</tr>