<%= render 'layouts/myo_navbar' %>

<div id="myo">

	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Demographics</h1>
	    </div>
	  </div>
	</div>
	<div class='row'>
	  <div class='small-4 columns'>
	  	<h4>Sex Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>Female</th>
			      <th>Male</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
				    <td><%= @participants.where(sex: "Male").count %> </td>
				    <td><%= @participants.where(sex: "Female").count %> </td>
			    </tr>			    
			  </tbody>
			</table>					
		</div>
	</div>

	<div class='row'>
	  <div class='small-12 columns'>
	  	<h4>Disease Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>RRMS</th>
			      <th>SP</th>
			      <th>Progessive Onset</th>
			      <th>Optic Neuritis</th>
			      <th>Transverse Neuritis</th>
			      <th>CIS</th>
			      <th>RIS</th>
			      <th>Other</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    	<td><%= @participants.where(disease_type: "RR").count %> </td>
			    	<td><%= @participants.where(disease_type: "SP").count %> </td>
			    	<td><%= @participants.where(disease_type: "PR").count %> </td>
			    	<td><%= @participants.where(disease_type: "Optic Neuritis").count %> </td>
			    	<td><%= @participants.where(disease_type: "Transverse Myelitis").count %> </td>
			    	<td><%= @participants.where(disease_type: "CIS").count %> </td>
			    	<td><%= @participants.where(disease_type: "RIS").count %> </td>
			    	<td><%= @participants.where(disease_type: "Demyelinating disease not otherwise specified").count %> </td>			    				    				    				    				    				    				    	
			    </tr>			    	
			  </tbody>
			</table>
		</div>
	</div>
	<div class='row'>
		<%= link_to "Download Redcap Data and Upload Database", '/myo/download_computed_data.csv', :method=> :post, class: 'button radius small-12 columns' %>
		<div class='small-12 columns'>
		<p>Note: the following participants will not be added to the report: <%= @missing_participants.join(" , ") %>. Please ensure all subjects are added to this databse before downloading data.</p>
		</div>
	</div>
	
</div>
