<%= render 'layouts/myo_navbar' %>

<div id="myo">

	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Demographics</h1>
	    </div>
	  </div>
	</div>
	<div class='row'>
	  <div class='small-4 columns'>
	  	<h4>Sex Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>Female</th>
			      <th>Male</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
				    <th><%= @participants.where(sex: "Male").count %> </th>
				    <th><%= @participants.where(sex: "Female").count %> </th>
			    </tr>			    
			  </tbody>
			</table>					
		</div>
	</div>

	<div class='row'>
	  <div class='small-12 columns'>
	  	<h4>Disease Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>RRMS</th>
			      <th>SP</th>
			      <th>Progessive Onset</th>
			      <th>Optic Neuritis</th>
			      <th>Transverse Neuritis</th>
			      <th>CIS</th>
			      <th>RIS</th>
			      <th>Other</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    	<th><%= @participants.where(sex: "RR").count %> </th>
			    	<th><%= @participants.where(sex: "SP").count %> </th>
			    	<th><%= @participants.where(sex: "PR").count %> </th>
			    	<th><%= @participants.where(sex: "Optic Neuritis").count %> </th>
			    	<th><%= @participants.where(sex: "Transverse Myelitis").count %> </th>
			    	<th><%= @participants.where(sex: "CIS").count %> </th>
			    	<th><%= @participants.where(sex: "RIS").count %> </th>
			    	<th><%= @participants.where(sex: "Demyelinating disease not otherwise specified").count %> </th>			    				    				    				    				    				    				    	
			    </tr>			    	
			  </tbody>
			</table>
		</div>
	</div>
	
</div>
