<div id="myo">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Trac Myo</h1>
	    </div>
	  </div>
	</div>


	<div class='row'>
		<div class='small-4 columns text-center panel'>
			<strong><%= link_to "Dashboard", controller: "myo", action: "index"%></strong>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Participants", myo_participants_path%>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Redcap Data", myo_redcap_path%>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns text-center'>
			<h1>
				Upcoming visits for the next 7 days
			</h1>
		</div>
		<div class='row'>
			<table width='100%'>
				<thead>
					<tr>
						<th>Name</th>
						<th>MRN</th>
						<th>Exam Date</th>
						<th>Myo Visit?</th>
			    </tr>
				</thead>
				<tbody>
					<% @visits.each do |visit| %>
					<% participant = MyoParticipant.find(visit.myo_participant_id) %>
						<tr>
							<td><%= participant.name %></td>
							<td><%= participant.mrn || "N/A" %></td>
							<td><%= visit.visit_date %></td>
							<td><%= participant.myo_visit %></td>
			    	</tr>
					<% end %>
				</tbody>
			</table>
		</div>

	</div>


</div>

