<%= render 'layouts/myo_navbar' %>

<div id="myo">

	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Demographics</h1>
	    </div>
	  </div>
	</div>
	<div class='row'>
	  <div class='small-4 columns'>
	  	<h4>Sex Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>Female</th>
			      <th>Male</th>
			      <th>Unrecorded</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><%= @demographics[1]["Female"]   %></td>
			      <td><%= @demographics[1]["Male"]   %></td>		
			      <td><%= @demographics[1][nil]   %></td>		  	
			    </tr>			    
			    <tr>
			      <td><%= (((@demographics[1]["Female"]).to_f / (@demographics[1]["Male"] + @demographics[1]["Female"] + @demographics[1][nil]).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[1]["Male"]).to_f / (@demographics[1]["Male"] + @demographics[1]["Female"] + @demographics[1][nil]).to_f) * 100).round   %>%</td>		
			      <td><%= (((@demographics[1][nil]).to_f / (@demographics[1]["Male"] + @demographics[1]["Female"] + @demographics[1][nil]).to_f) * 100).round   %>%</td>		  	
			    </tr>
			  </tbody>
			</table>					
		</div>
	</div>

	<div class='row'>
	  <div class='small-12 columns'>
	  	<h4>Disease Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>RRMS</th>
			      <th>SP</th>
			      <th>Progessive Onset</th>
			      <th>Optic Neuritis</th>
			      <th>Transverse Neuritis</th>
			      <th>CIS</th>
			      <th>RIS</th>
			      <th>Other</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Relapsing remitting MS)"]%></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Secondary progressive MS)"] %></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Progressive-onset MS (primary or primary relapsing MS))"]%></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Optic neuritis)"]%></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Transverse myelitis)"]%></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Clinically isolated syndrome (CIS))"]%></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Radiologically isolated syndrome (RIS))"]%></td>
			      <td><%= @demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Demyelinating disease not otherwise specified)"]%></td>		      
			    </tr>			    
			    <tr>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Relapsing remitting MS)"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Secondary progressive MS)"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Progressive-onset MS (primary or primary relapsing MS))"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Optic neuritis)"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Transverse myelitis)"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Clinically isolated syndrome (CIS))"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Radiologically isolated syndrome (RIS))"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>
			      <td><%= (((@demographics[3]["Patient-entered Diagnosis of type of demyelinating disease (choice=Demyelinating disease not otherwise specified)"]).to_f / (@demographics[3].values.reduce(:+)).to_f) * 100).round   %>%</td>		      		      		      		      
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns'>
			<h4>Physician EDSS Breakdown:</h4>
			<!-- <div id='edssGraph'></div> -->
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'> 
			<table>
			<thead>
				<tr>
					<th>Mean</th>
					<th>Median</th>
					<th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= (@physician_array.reduce(:+) / @physician_array.length).round(2)  %></td>
					<td><%= @physician_array.sort.length.even? ? ((@physician_array.sort[(@physician_array.length)/2]) + (@physician_array.sort[((@physician_array.length)/2) -1]))/2.to_f   : @physician_array.sort[(@physician_array.length)/2]   %></td>
					<td> <%= @physician_array.max_by { | i| @physician_array.count(i)} %></td>
				</tr>
			</tbody>
				
			</table>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns'>
			<h4>Remote EDSS Breakdown:</h4>
			<!-- <div id='edssGraph'></div> -->
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'> 
			<table>
			<thead>
				<tr>
					<th>Mean</th>
					<th>Median</th>
					<th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= (@goodin_array.reduce(:+) / @goodin_array.length).round(2)  %></td>
					<td><%= @goodin_array.sort.length.even? ? ((@goodin_array.sort[(@goodin_array.length)/2]) + (@goodin_array.sort[((@goodin_array.length)/2) -1]))/2.to_f   : @goodin_array.sort[(@goodin_array.length)/2]   %></td>
					<td> <%= @goodin_array.max_by { | i| @goodin_array.count(i)} %></td>
				</tr>
			</tbody>
				
			</table>
		</div>
	</div>	
</div>
