<div id="myo">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Participants</h1>
	    </div>
	  </div>
	</div>


	<div class='row'>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Upload Files", myo_upload_path, target: "_blank" %>
		</div>
		<div class='small-4 columns text-center panel'>
			<strong><%= link_to "Participants", myo_participants_path, target: "_blank" %></strong>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Redcap Data", myo_redcap_path, target: "_blank" %>
		</div>
	</div>

		<div class="row">
	  <div class="large-12 columns">
	  	<div id="newParticipant" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  		<%= render 'layouts/new_participant' %>
			</div>
		</div>
	</div>

<table id='participants'>
	<thead>
		<tr>
			<th width='75'>Id</th>
    	<th width='150'>Trac MS Myo ID</th>
    	<th width='150'>Name</th>
    	<th>Scheduled</th>
    	<th>Exam</th>
    	<th>Myo</th>
    	<th>Intake</th>
    	<th>MS Information</th>
    	<th>WHODAS</th>
    	<th>Health Intake</th>
    	<th></th>
    </tr>
	</thead>
	<tbody>
		<% @participants.each do |participant| %>
			<tr>
				<%= form_for participant, url: {action: "update", params: {id: participant.id}} do |f| %>
					<td><%= f.text_field :participant_id %></td>
		    	<td><%= f.text_field :tracms_myo_id %></td>
		    	<td><%= f.text_field :name %></td>
		    	<td><%= f.date_field :scheduled_date %></td>
		    	<td><%= f.date_field :exam_date %></td>
		    	<td><%= f.check_box :myo_visit %></td>
		    	<td><%= f.check_box :redcap_intake_q %></td>
		    	<td><%= f.check_box :redcap_ms_info %></td>
		    	<td><%= f.check_box :redcap_whodas %></td>
		    	<td><%= f.check_box :redcap_health_intake %></td>
		    	<td><%= f.submit "Update" , class: 'button radius' %></td>
		    <% end %>
	    </tr>
		<% end %>
	</tbody>
</table>

</div>

<div class='row'>
	<%= link_to "Add New Participant", "#", class: 'button right radius', data: {:"reveal-id" => "newParticipant"} %>
</div>