<div id="myo">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Participants</h1>
	    </div>
	  </div>
	</div>


	<div class='row'>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Upload Files", myo_upload_path, target: "_blank" %>
		</div>
		<div class='small-4 columns text-center panel'>
			<strong><%= link_to "Participants", myo_participants_path, target: "_blank" %></strong>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Redcap Data", myo_redcap_path, target: "_blank" %>
		</div>
	</div>

	<div class="row">
	  <div class="large-12 columns">
	  	<div id="newParticipant" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  		<%= render 'layouts/new_participant' %>
			</div>
		</div>
	</div>

<div class='row'>
	<table id='participants'>
		<thead>
			<tr>
				<th>Id</th>
	    	<th>Trac MS Myo ID</th>
	    	<th>Name</th>
	    	<th>Scheduled Date</th>
	    	<th>Exam Date</th>
	    	<th>Number of Visits</th>
	    	<th>Myo Visit?</th>
	    	<th>Redcap Intake</th>
	    	<th>Redcap MS Information</th>
	    	<th>Redcap WHODAS</th>
	    	<th>Redcap Health Intake</th>
	    	<th></th>
	    </tr>
		</thead>
		<tbody>
			<% @participants.each do |participant| %>
				<tr>
						<td><%= participant.participant_id %></td>
			    	<td><%= participant.tracms_myo_id %></td>
			    	<td><%= participant.name %></td>
			    	<td><%= participant.scheduled_date %></td>
			    	<td><%= participant.exam_date %></td>
			    	<td><%= link_to participant.trac_visits.count, controller: "myo", action: 'show_visits', id: participant %></td>
			    	<td><%=participant.myo_visit %></td>
			    	<td><%=participant.redcap_intake_q %></td>
			    	<td><%=participant.redcap_ms_info %></td>
			    	<td><%=participant.redcap_whodas %></td>
			    	<td><%=participant.redcap_health_intake %></td>
			    	<td> <%= link_to "Edit", controller: "myo", action: "show_participant", class: 'button radius', id: participant %> </td>
		    </tr>
			<% end %>
		</tbody>
	</table>

	</div>

	<div class='row'>
		<%= link_to "Add New Participant", "#", class: 'button right radius', data: {:"reveal-id" => "newParticipant"} %>
	</div>
</div>