<div id="myo">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Visits for <%= @participant.name %></h1>
	    </div>
	  </div>
	</div>


	<div class='row'>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Dashboard", controller: "myo", action: "index"%>
		</div>
		<div class='small-4 columns text-center panel'>
			<strong><%= link_to "Participants", myo_participants_path%></strong>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Redcap Data", myo_redcap_path%>
		</div>
	</div>

<div class='row'>
	<div class='small-12 columns'>
		<table width='100%'>
			<thead>
				<tr>
					<th>Visit Date</th>
					<% @visits.each do |visit| %>
						<% visit.myo_files.each do |file| %>
							<th></th>
						<% end %>
					<% end %>	
		    </tr>
			</thead>
			<tbody>
				<% @visits.each do |visit| %>
					<tr>
						<td><%= visit.visit_date%></td>
						<% visit.myo_files.each do |file| %>
							<td><a href=<%= myo_download_file_path(file) %> > <%= file[:file]%> </a></td>
						<% end %>
						<td><strong><%= link_to "Edit", controller: "myo", action: "show_visit", id: visit.id %></strong> </td>
			    </tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

	<div class='row'>
		<%= link_to "Add New Visit", controller: "myo", action: "new_visit" , params: {id: @participant.id} %>
	</div>
