<%= render 'layouts/navbar' %>

<div id="msdr-theme">
		<div class="row margin-top">
		  <div class="large-12 columns">
		    <div class="panel radius text-center">
		      <span>MSDCC Sysadmin</span>
		    </div>
		  </div>
		</div>

	<div class='row'>
		<div class='small-12 columns'>
			<%= link_to "Index of Pages", sysadmin_index_path, class: "right" %>
		</div>
	</div>

	<div class='row'>
		<%= form_for @sysadmin, url: {action: "create"} do |f| %>
			<%= f.text_area :title, placeholder: "title" %>
			<%= f.text_area :content, :class => "wysiwyg" %>
			<br>
			<%= f.submit 'Submit', :class => 'button radius right' %>
		<% end %>
	</div>
</div>


	<script>
	$(function() {
		$('.wysiwyg').froalaEditor();
	});
</script>