<%= render 'layouts/navbar' %>

<div id="msdr-theme">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="panel radius text-center">
	      <span>MSDCC Sysadmin</span>
	    </div>
	  </div>
	</div>

<div class='row'>
	<div class='small-12 columns'>
		<%= link_to "Index of Pages", sysadmin_index_path, class: "right" %>
	</div>
</div>

<div class='row'>
	<h1 class="text-center" style="background-color: white"><%= @sysadmin.title %></h1>
	<br>
	<div class='small-12 columns'>
		<%= @sysadmin.content.html_safe %>
	</div>
</div>
<br>
<div class='row'>
	<%= link_to "Edit", edit_sysadmin_path, class: "button right radius" %>
</div>
