<h1>Listing myo_files</h1>

<table>
  <thead>
    <tr>
      <th>Trac visit</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myo_files.each do |myo_file| %>
      <tr>
        <td><%= myo_file.trac_visit_id %></td>
        <td><%= myo_file.file %></td>
        <td><%= link_to 'Show', myo_file %></td>
        <td><%= link_to 'Edit', edit_myo_file_path(myo_file) %></td>
        <td><%= link_to 'Destroy', myo_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myo file', new_myo_file_path %>
