<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="right">
        <li class='navbar-link styled-link'><%= link_to "Dashboard", controller: "myo", action: "index"%></li>
        <li class='navbar-link styled-link'><%= link_to "Participants", myo_participants_path %></li>
        <li class='navbar-link styled-link'><%= link_to "Redcap Data", myo_redcap_path%></li>
        <li class='navbar-link styled-link'><%= link_to("Logout", destroy_user_session_path, method: :delete)%></li>
        <li class='navbar-link styled-link'><%= link_to("Back to MSDR", controller: "welcome", action: "index") %></li>
      </ul>

    </section>
  </nav> 
</div> 
