<% if controller_name == 'dictionary' %>
  <div class="contain-to-grid">
<% else %>
    <div class="contain-to-grid sticky">
<% end %>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class='name'>
        <h1></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="text-centered">
        <li><%= link_to("Home", root_path, class: 'styled-link')%></li>
        <li><%= link_to("Projects Catalog", projects_path, class: 'styled-link')%></li>
        <li><%= link_to("Publications", publications_path, class: 'styled-link active')%></li>
        <li><%= link_to("Funding", fundings_path, class: 'styled-link')%></li>
        <li><%= link_to("Data Dictionary", dictionary_index_path, class: 'styled-link')%></li>
        <% if current_user %>
          <li><%= link_to("Logout", destroy_user_session_path, class: 'styled-link')%></li>
        <% end %>
      </ul>

    </section>
  </nav> 
</div> 