<tr>
  <td><%= @project.author %></td>
  <td><%= @project.title %></td>
  <td><%= @project.project_description %></td>
  <td><%= @project.data_description %></td>
  <td><%= @project.data_frequency %></td>
</tr>